# node_modules
/node_modules/

# messageLogs
/message/messageLogs/*
!/message/messageLogs/
!/message/messageLogs/template

# stoppedChats
/message/messageLogs/stoppedChats/*
!/message/messageLogs/stoppedChats/
!/message/messageLogs/stoppedChats/template

# .wwebjs
/.wwebjs_auth/

# .env
/.env

# IntelliJ IDEA Project File
/.idea/
/whatsapp-bot-chat.iml
