# node_modules
/node_modules/

# messageLogs
/message/messageLogs/
!/message/messageLogs/template
/message/messageLogs/groups/
!/message/messageLogs/groups/template
!/message/messageLogs/groups/templateUser

# .wwebjs
/.wwebjs_auth/

# .env
/.env

# IntelliJ IDEA Project File
/.idea/
/whatsapp-bot-chat.iml
